@charset "UTF-8";
/* Base
================================ */
* {
    box-sizing: border-box;
}

body {
    color: #414141;
    line-height: 1.5;
    font-family: "MS Pゴシック", "serif";
}

a:link,
a:visited {
    color: #303437;
}

a:hover {
    color: #901636;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

h1 {
    color: white;
    /* font-size: 1.5rem; 24px */
}

.h1-smaller {
    font-size: 1.2rem;
}

.h1-bigger {
    font-size: 1.8rem;
}

span {
    display: block;
}

h2 {
    margin: 0 0 30px 0;
}

h2 .headingBox {
    display: flex;
    justify-content: center;
    font-size: 3.75rem; /* 60px */
    margin: 10px;
    height: 150px;
}

h2 .headingDeco {
    padding: 20px;
    border: #D1D1D1 1px solid;
    width: 120px;
    font-size: 5rem; /* 80px */
    text-shadow: 5px 5px lightgrey;
}

h2 .headingNoDeco {
    padding: 25px 10px;
    margin: 10px 0;
}

h2 .headingJn {
    font-size: 1.25rem; /* 20px */
    display: block;
}

h3 {
    font-size: 1.5rem; /* 24px */
}

#pageTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
}

/* Drawer */
#drawer-checkbox {
    display: none;
}

/* Layout
================================ */
#wrap {
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}


header {
    position: relative;
}

.site-logo {
    display: flex;
    padding-left: 100px;
}

.site-logo img {
    height: 80px;
}

.site-logo p {
    color: #fff;
    padding: 20px;
    font-size: 14px;
}

.site-logo p span {
    font-size: 24px;
}

.site-header {
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,1));
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    height: 120px;
    z-index: 999;
    display: flex;
    visibility: hidden;
}

.site-header.show {
    visibility: visible;
}

.gnav__menu {
    display: flex;
}
.gnav__menu li {
    margin: 20px 30px;
    font-size: 24px;
}

.gnav__menu li a {
    text-decoration: none;
    color: #fff;
}

.titleArea {
    width: 20%;
    margin: 0 auto;
    padding: 2%;
    text-align: center;
    background-color: rgb(0, 0, 0);
    z-index: 500;
    position: absolute;
    top: 0;
    left: 38%;
    opacity: 70%;
}

.titleArea a {
    text-decoration: none;
}

.titleArea img {
    width: 80px;
}

.titleArea h1 {
    padding: 20px 0;
}

.titleArea h1 span {
    padding: 30px 0;
}

.mainV img {
    width: 100%;
}

/* メインビジュアルスライダーslick */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.slider-main {
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.slider-main .slick-slide {
    height: 100vh;
    position: relative;
}

.slider-main .slick-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.dots-2 {
    position: relative;
}

.slick-dots {
    display: flex !important;
    justify-content: center;
    padding: 10px 0;
    list-style: none;
    position: absolute;
    top: -50px;
    left: 45%;
}

.slick-dots li {
  margin: 0 5px;
}

.slick-dots li button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ccc;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    z-index: 500;
    font-size: 0;     /* デフォルトの数字のサイズを0にして見えなくする */
}

.slick-dots li.slick-active button {
  background-color: #333;
}

main {
    width: 100%;
    display: flex;
}

#contentsWrap {
    width: 90%;
    margin: 0 auto;
}

.featureArea {
    width: 100%;
}

.featureArea .featureItem {
    margin: 0 auto;
    display: flex;
    background-color: white;
    padding: 15px 0;
}

.featureArea .featureItem:nth-child(2),
.featureArea .featureItem:nth-child(4) {
    text-align: left;
}

.featureArea .featureItem:nth-child(3),
.featureArea .featureItem:nth-child(5) {
    flex-direction: row-reverse;
    text-align: right;
}

.featureArea .featureItem .fImgArea,
.featureArea .featureItem .fTextArea {
    width: 50%;
}

/* fImg特徴写真スライドイン */

.featureItem{
	overflow: hidden;
}

.fImgSlideIn{
	margin: 50px auto;
    transition: 0.3s cubic-bezier(0.75, 0, 0.25, 1);

}
.slideinLeft{
	transform: translateX(calc(-50vw - 50%));
}
.slideinRight{
	transform: translateX(calc(50vw + 50%));
}
.fImgShow{
	transform: translateX(0);

}

/* 
.slideinLeft {
    animation: slideinLeft 3s infinite;
  }
  
  @keyframes slideinLeft {
    0% {
      transform: translateX(-50px);
    }
    100% {
      transform: translateX(0);
    }
  }

  .slideinRight {
    animation: slideinRight 3s infinite;
  }
  
  @keyframes slideinRight {
    0% {
      transform: translateX(50px);
    }
    100% {
      transform: translateX(0);
    }
  }
 */
.featureArea .featureItem .fImgArea img {
    width: 100%;
}

.featureArea .featureItem .fTextArea {
    padding: 0 30px;
}

.featureArea .featureItem .fTextArea .fItemTitle {
    color: brown;
    font-size: 2.1875rem; /* 35px */
    padding: 10px 0;
}

.featureArea .featureItem .fTextArea .fItemText {
    font-size: 1.5625rem; /* 25px */
}

.newsArea {
    font-size: 1.5rem;
}

.newsArea .newsItem li {
    display: flex;
    padding: 10px 0px;
    border-top: dashed 1px lightgray;
}

.newsArea .newsItem li:nth-child(4) {
    border-bottom: dashed 1px lightgray;
}

.newsArea .newsItem .newsDate {
    color: #4F0000;
    padding-right: 40px;
}

.newsArea .gotolog {
    width: 10%;
    padding: 10px 10px 0 0;
    margin: 0 0 0 auto;
}

.accessArea .map {
    width: 100%;
    height: 500px;
    padding: 50px 0;
}

.accessArea .map iframe {
    width: 100%;
    height: 100%;
}

#sideMenu {
    display: none;
    width: 180px;
    justify-content: center;
    padding: 80px 0 0 30px;
}

#sideMenu ul li img {
    display: none;
    width: 50px;
    margin: 0 auto;
    padding: 0 0 30px;
}

.menuCont li {
    padding: 0.6em 0.3em 0.5em;
}

footer {
    width: 100%;
    padding: 50px 0 0 0;
    background-color: black;
    font-size: 1.3rem;
}

footer nav .footerNaviMenu {
    display: flex;
    width: 100%;
}

.footerNaviMenuColumn {
    margin: 0 100px;
}

.footerNaviMenuColumn li {
    margin: 10px 0;
}

.footerNaviMenuColumn li a:link,
.footerNaviMenuColumn li a:visited {
    color: white;
}

.footerNaviMenuColumn li a:hover {
    color: #901636;
}

.snsList {
    width: 100%;
    display: flex;
    justify-content: center;
}

.snsList li {
    width: 50px;
    margin: 50px 20px;
}

.snsList img {
    width: 100px;
}

.copyright {
    padding: 10px 0;
    width: 100%;
    background-color: #9F1B3B;
    color: white;
    font-size: 1rem;
}

/* Drawer Layout */
@media screen and (max-width: 972px) {
    /* #wrap {
        max-width: 1271px;
    }

    main {
        display: block;
    } */

    #sideMenu {
        display: block;
        position: fixed;     /* 画面上に固定 */
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;         /* 画面全体を覆う */
        z-index: 999;
        /* background-color: #901636 */
    }


    #drawer-icon {
        display: inline-block;
        position: fixed;
        right: 30px;
        top: 30px;
        width: 75px;
        height: 75px;
        cursor: pointer;
        z-index: 300;
        background-color: #09000d;
    }

    #drawer-icon span {
        position: absolute;
        left: 15px;
        top: 35px;
        width: 45px;
        height: 6px;
        background: #ffffff;
    }

    #drawer-icon span:before,
    #drawer-icon span:after {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: #ffffff;
        content: "";
    }

    #drawer-icon span:before {
        top: -15px;
    }

    #drawer-icon span:after {
        top: 15px;
    }

        #drawer-checkbox:checked ~ #drawer-icon {
        border: solid white 1px;
    }


    #drawer-checkbox:checked ~ #drawer-icon span {
        background: rgba(51, 51, 51, 0);
        transition: all 0.3s ease-in-out;
    }

    #drawer-checkbox:checked ~ #drawer-icon span:before,
    #drawer-checkbox:checked ~ #drawer-icon span:after {
        top: 0;
        left: -7px;
        width: 57px;
        height: 5px;
    }

    #drawer-checkbox:checked ~ #drawer-icon span:before {
        transform: rotate(-45deg);
    }

    #drawer-checkbox:checked ~ #drawer-icon span:after {
        transform: rotate(45deg);
    }

    #gNavi {
        position: fixed;
        right: 0;
        top: 0;
        width: 100%;
        transform: translateX(100%);
        transition: all 0.3s ease-in-out, 0s;
        background:rgba(0, 0, 0, 0.8);
    }

    .menuCont {
        margin: 0 auto;
        width: 100%;
        height: 100%;
    }

    .menuCont li {
        border:  solid white 1px;
        padding: 30px;
        text-align: left;

    }

    .menuCont li a {
        text-decoration: none;
        font-size: 1.8rem;
        color: white;
    }


    #drawer-checkbox:checked ~ #gNavi {
        transform: translateX(0);
        transition: all 0.3s ease-in-out;
    }

    #drawer-close {
        display: none;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0);
        z-index: 100;
        transition: all 0.3s ease-in-out, 0s;
    }

    #drawer-checkbox:checked ~ #drawer-close {
        display: block;
        }

    .site-header {
        display: none;
    }

    .titleArea {
        width: 30%;
        height: 50%;
        padding: 2%;
        position: absolute;
        top: 0;
        left: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }    

    .titleArea h1 span {
        padding: 0;
    }

    .h1-smaller {
        font-size: 13px;
    }

    .slider-main {
        height: 60vh;       
    }

    .slider-main .slick-slide {
        height: 60vh;       
    }

}
